## Data loading, storage, and file formats

In [1]:
from __future__ import division
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
np.random.seed(12345)
plt.rc('figure', figsize=(10, 6))

In [3]:
from pandas import Series, DataFrame
import pandas as pd
np.set_printoptions(precision=4)

In [4]:
%pwd

u'C:\\Users\\S525'

In [5]:
#urllib를 이용하여 파일을 읽어온 경우
import urllib
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex1.csv'))
#해당 URL주소의 파일을 리스트로 만들어 주는 파이썬 기본 내장함수

['a,b,c,d,message\n', '1,2,3,4,hello\n', '5,6,7,8,world\n', '9,10,11,12,foo']

## Reading and Writing Data in Text Format

In [176]:
!cat ch06/ex1.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

In [7]:
df = pd.read_csv('ch06/ex1.csv')
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [8]:
#read_table을 이용하여 쉼표를 구분자로 지정하여 읽어 올 수 있다.
pd.read_table('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex1.csv', sep=',')

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

- read_table = 쉼표를 구분자로 지정하여 읽어온다. 
- read_csv = dataframe 읽어온다.

In [9]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv'))

['1,2,3,4,hello\n', '5,6,7,8,world\n', '9,10,11,12,foo']

In [10]:
#pandas가 자동으로 칼럼을 생성하도록 하는 옵션, 다양하게 지정도 가능
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [11]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv', names=['a', 'b', 'c', 'd', 'message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [12]:
names = ['a','b','c','d','message']

In [13]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv', names=names, index_col='message')
#message를 index로 하여 출력

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [16]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex2.csv', names=names, index_col='a')
#a를 index로 하여 출력  (1,5,9가 index의 name으로 쓰임)

    b   c   d message
a
1   2   3   4   hello
5   6   7   8   world
9  10  11  12     foo

In [17]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/csv_mindex.csv'))

['key1,key2,value1,value2\n',
 'one,a,1,2\n',
 'one,b,3,4\n',
 'one,c,5,6\n',
 'one,d,7,8\n',
 'two,a,9,10\n',
 'two,b,11,12\n',
 'two,c,13,14\n',
 'two,d,15,16\n']

In [18]:
parsed = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/csv_mindex.csv', index_col=['key1', 'key2'])
parsed    #key1, key2를 이용하여 계층적 색인이 가능하도록 하였다.

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [19]:
a = list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex3.txt'))
print type(a)
print a

<type 'list'>
['            A         B         C\n', 'aaa -0.264438 -1.026059 -0.619500\n', 'bbb  0.927272  0.302904 -0.032399\n', 'ccc -0.264273 -0.386314 -0.217601\n', 'ddd -0.871858 -0.348382  1.100491\n']

-----------


- a 는 list , 내용에 공백이 많음 -> \s+ 을 사용하여 처리
- \s는 space character

In [23]:
result = pd.read_table('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex3.txt', sep='\s*')
result

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [24]:
result = pd.read_table('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex3.txt', sep='\f')
result

               A         B         C
0  aaa -0.264438 -1.026059 -0.619500
1  bbb  0.927272  0.302904 -0.032399
2  ccc -0.264273 -0.386314 -0.217601
3  ddd -0.871858 -0.348382  1.100491

In [29]:
result = pd.read_table('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex3.txt', sep=' ')
result

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,B,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29,C
0,aaa,-0.264438,-1.026059,-0.619500,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,bbb,NaN,0.927272,NaN,0.302904,-0.032399,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,ccc,-0.264273,-0.386314,-0.217601,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ddd,-0.871858,-0.348382,NaN,1.100491,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

-------------
- skiprows를 사용해서 필요없는 열 처리하기

In [30]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex4.csv'))

['# hey!\n',
 'a,b,c,d,message\n',
 '# just wanted to make things more difficult for you\n',
 '# who reads CSV files with computers, anyway?\n',
 '1,2,3,4,hello\n',
 '5,6,7,8,world\n',
 '9,10,11,12,foo']

In [31]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex4.csv', skiprows=[0,2,3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv'))

['something,a,b,c,d,message\n',
 'one,1,2,3,4,NA\n',
 'two,5,6,,8,world\n',
 'three,9,10,11,12,foo']

- ex5.csv 파일에 보면 NA나 '' 과 같은 null값이 포함되어 있다.

In [33]:
result = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv')
result   #해당 파일을 read_csv 함수를 이용하여 DataFrame으로 출력

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [34]:
pd.isnull(result)   #null값이 들어간 값에 대해서만 True가 출력

  something      a      b      c      d message
0     False  False  False  False  False    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

- na_values 는 문자열이나 리스트를 받아서 누락된 값 처리

In [43]:
result = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv', na_values=['null'])
result

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

- na_values['4'] 하면 4값이 null로 인식된다.

In [45]:
result = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv', na_values=['4'])
result

  something  a   b   c   d message
0       one  1   2   3 NaN     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [46]:
pd.isnull(result)

  something      a      b      c      d message
0     False  False  False  False   True    True
1     False  False  False   True  False   False
2     False  False  False  False  False   False

In [48]:
sentinels = {'message': ['foo', 'NA'], 'something': ['two']}   #각 칼럼의 다른 문자를 사전값으로 처리

In [49]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv', na_values=sentinels)
#message에서 foo와 NA를 something에서 two를 null로 인식 하도록

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       NaN  5   6 NaN   8   world
2     three  9  10  11  12     NaN

In [50]:
result = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [51]:
pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv', nrows=5)
#nrows 옵션을 주어 첫 몇줄만 읽어오도록

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [52]:
from pandas import Series, DataFrame

In [54]:
chunker = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv', 
                      chunksize=1000)
chunker

-  chunksize 에 row 수를 주면 된다.

In [55]:
result.shape

(10000, 5)

In [56]:
result.index.size

10000

In [57]:
print len(result)

10000

In [62]:
chunker = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex6.csv', chunksize=1000)

In [63]:
chunker

In [65]:
for a in chunker:
    print a

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
5    1.817480  0.742273  0.419395 -2.251035   Q
6   -0.776764  0.935518 -0.332872 -1.875641   U
7   -0.913135  1.530624 -0.572657  0.477252   K
8    0.358480 -0.497572 -0.367016  0.507702   S
9   -1.740877 -1.160417 -1.637830  2.172201   G
10   0.240564 -0.328249  1.252155  1.072796   8
11   0.764018  1.165476 -0.639544  1.495258   R
12   0.571035 -0.310537  0.582437 -0.298765   1
13   2.317658  0.430710 -1.334216  0.199679   P
14   1.547771 -1.119753 -2.277634  0.329586   J
15  -1.310608  0.401719 -1.000987  1.156708   E
16  -0.088496  0.634712  0.153324  0.415335   B
17  -0.018663 -0.247487 -1.446522  0.750938   A
18  -0.070127 -1.579097  0.120892  0.671432   F
19  -0.194678 -0.492039  2.359605  0.319810   H
20  -0.248618  0.868707 -0.492226 -0.717959   W
21  -1.091549 -0.867110 -0.647760 -0.832562   C
22   0.641404 -0.138822 -0.621963 -0.284839   C
23   1.216408  0.992687  0.165162 -0.069619   V
24  -0.564474  0.792832  0.747053  0.571675   I
25   1.759879 -0.515666 -0.230481  1.362317   S
26   0.126266  0.309281  0.382820 -0.239199   L
27   1.334360 -0.100152 -0.840731 -0.643967   6
28  -0.737620  0.278087 -0.053235 -0.950972   J
29  -1.148486 -0.986292 -0.144963  0.124362   Y
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   P
971  0.308636 -0.112857  0.762842 -1.072977   X
972 -1.627051 -0.978151  0.154745 -1.229037   O
973  0.314847  0.097989  0.199608  0.955193   R
974  1.666907  0.992005  0.496128 -0.686391   W
975  0.010603  0.708540 -1.258711  0.226541   O
976  0.118693 -0.714455 -0.501342 -0.254764   S
977  0.302616 -2.011527 -0.628085  0.768827   R
978 -0.098572  1.769086 -0.215027 -0.053076   G
979 -0.019058  1.964994  0.738538 -0.883776   X
980 -0.595349  0.001781 -1.423355 -1.458477   O
981  1.392170 -1.396560 -1.425306 -0.847535   K
982 -0.896029 -0.152287  1.924483  0.365184   M
983 -2.274642 -0.901874  1.500352  0.996541   Q
984 -0.301898  1.019906  1.102160  2.624526   Q
985 -2.548389 -0.585374  1.496201 -0.718815   R
986 -0.064588  0.759292 -1.568415 -0.420933   N
987 -0.143365 -1.111760 -1.815581  0.435274   C
988 -0.070412 -1.055921  0.338017 -0.440763   X
989  0.649148  0.994273 -1.384227  0.485120   I
990 -0.370769  0.404356 -1.051628 -1.050899   V
991 -0.409980  0.155627 -0.818990  1.277350   4
992  0.301214 -1.111203  0.668258  0.671922   Q
993  1.821117  0.416445  0.173874  0.505118   O
994  0.068804  1.322759  0.802346  0.223618   W
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]
          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   T
1   -0.358893  1.404453  0.704965 -0.200638   J
2   -0.501840  0.659254 -0.421691 -0.057688   R
3    0.204886  1.074134  1.388361 -0.982404   S
4    0.354628 -0.133116  0.283763 -0.837063   B
5    1.817480  0.742273  0.419395 -2.251035   Q
6   -0.776764  0.935518 -0.332872 -1.875641   Z
7   -0.913135  1.530624 -0.572657  0.477252   X
8    0.358480 -0.497572 -0.367016  0.507702   R
9   -1.740877 -1.160417 -1.637830  2.172201   4
10   0.240564 -0.328249  1.252155  1.072796   5
11   0.764018  1.165476 -0.639544  1.495258   A
12   0.571035 -0.310537  0.582437 -0.298765   J
13   2.317658  0.430710 -1.334216  0.199679   L
14   1.547771 -1.119753 -2.277634  0.329586   N
15  -1.310608  0.401719 -1.000987  1.156708   I
16  -0.088496  0.634712  0.153324  0.415335   6
17  -0.018663 -0.247487 -1.446522  0.750938   T
18  -0.070127 -1.579097  0.120892  0.671432   R
19  -0.194678 -0.492039  2.359605  0.319810   4
20  -0.248618  0.868707 -0.492226 -0.717959   Z
21  -1.091549 -0.867110 -0.647760 -0.832562   K
22   0.641404 -0.138822 -0.621963 -0.284839   B
23   1.216408  0.992687  0.165162 -0.069619   O
24  -0.564474  0.792832  0.747053  0.571675   G
25   1.759879 -0.515666 -0.230481  1.362317   F
26   0.126266  0.309281  0.382820 -0.239199   I
27   1.334360 -0.100152 -0.840731 -0.643967   K
28  -0.737620  0.278087 -0.053235 -0.950972   L
29  -1.148486 -0.986292 -0.144963  0.124362   O
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   V
971  0.308636 -0.112857  0.762842 -1.072977   J
972 -1.627051 -0.978151  0.154745 -1.229037   Q
973  0.314847  0.097989  0.199608  0.955193   R
974  1.666907  0.992005  0.496128 -0.686391   T
975  0.010603  0.708540 -1.258711  0.226541   R
976  0.118693 -0.714455 -0.501342 -0.254764   3
977  0.302616 -2.011527 -0.628085  0.768827   O
978 -0.098572  1.769086 -0.215027 -0.053076   O
979 -0.019058  1.964994  0.738538 -0.883776   8
980 -0.595349  0.001781 -1.423355 -1.458477   A
981  1.392170 -1.396560 -1.425306 -0.847535   7
982 -0.896029 -0.152287  1.924483  0.365184   V
983 -2.274642 -0.901874  1.500352  0.996541   S
984 -0.301898  1.019906  1.102160  2.624526   W
985 -2.548389 -0.585374  1.496201 -0.718815   O
986 -0.064588  0.759292 -1.568415 -0.420933   M
987 -0.143365 -1.111760 -1.815581  0.435274   S
988 -0.070412 -1.055921  0.338017 -0.440763   D
989  0.649148  0.994273 -1.384227  0.485120   P
990 -0.370769  0.404356 -1.051628 -1.050899   B
991 -0.409980  0.155627 -0.818990  1.277350   D
992  0.301214 -1.111203  0.668258  0.671922   F
993  1.821117  0.416445  0.173874  0.505118   O
994  0.068804  1.322759  0.802346  0.223618   Q
995  2.311896 -0.417070 -1.409599 -0.515821   L
996 -0.479893 -0.650419  0.745152 -0.646038   J
997  0.523331  0.787112  0.486066  1.093156   V
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   D

[1000 rows x 5 columns]
          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   1
1   -0.358893  1.404453  0.704965 -0.200638   H
2   -0.501840  0.659254 -0.421691 -0.057688   F
3    0.204886  1.074134  1.388361 -0.982404   L
4    0.354628 -0.133116  0.283763 -0.837063   E
5    1.817480  0.742273  0.419395 -2.251035   3
6   -0.776764  0.935518 -0.332872 -1.875641   G
7   -0.913135  1.530624 -0.572657  0.477252   X
8    0.358480 -0.497572 -0.367016  0.507702   D
9   -1.740877 -1.160417 -1.637830  2.172201   Q
10   0.240564 -0.328249  1.252155  1.072796   N
11   0.764018  1.165476 -0.639544  1.495258   W
12   0.571035 -0.310537  0.582437 -0.298765   T
13   2.317658  0.430710 -1.334216  0.199679   M
14   1.547771 -1.119753 -2.277634  0.329586   M
15  -1.310608  0.401719 -1.000987  1.156708   X
16  -0.088496  0.634712  0.153324  0.415335   Z
17  -0.018663 -0.247487 -1.446522  0.750938   T
18  -0.070127 -1.579097  0.120892  0.671432   E
19  -0.194678 -0.492039  2.359605  0.319810   H
20  -0.248618  0.868707 -0.492226 -0.717959   U
21  -1.091549 -0.867110 -0.647760 -0.832562   Q
22   0.641404 -0.138822 -0.621963 -0.284839   I
23   1.216408  0.992687  0.165162 -0.069619   1
24  -0.564474  0.792832  0.747053  0.571675   Y
25   1.759879 -0.515666 -0.230481  1.362317   9
26   0.126266  0.309281  0.382820 -0.239199   E
27   1.334360 -0.100152 -0.840731 -0.643967   C
28  -0.737620  0.278087 -0.053235 -0.950972   6
29  -1.148486 -0.986292 -0.144963  0.124362   K
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   4
971  0.308636 -0.112857  0.762842 -1.072977   L
972 -1.627051 -0.978151  0.154745 -1.229037   M
973  0.314847  0.097989  0.199608  0.955193   X
974  1.666907  0.992005  0.496128 -0.686391   9
975  0.010603  0.708540 -1.258711  0.226541   F
976  0.118693 -0.714455 -0.501342 -0.254764   C
977  0.302616 -2.011527 -0.628085  0.768827   K
978 -0.098572  1.769086 -0.215027 -0.053076   S
979 -0.019058  1.964994  0.738538 -0.883776   X
980 -0.595349  0.001781 -1.423355 -1.458477   H
981  1.392170 -1.396560 -1.425306 -0.847535   K
982 -0.896029 -0.152287  1.924483  0.365184   8
983 -2.274642 -0.901874  1.500352  0.996541   G
984 -0.301898  1.019906  1.102160  2.624526   3
985 -2.548389 -0.585374  1.496201 -0.718815   Y
986 -0.064588  0.759292 -1.568415 -0.420933   K
987 -0.143365 -1.111760 -1.815581  0.435274   P
988 -0.070412 -1.055921  0.338017 -0.440763   U
989  0.649148  0.994273 -1.384227  0.485120   Y
990 -0.370769  0.404356 -1.051628 -1.050899   U
991 -0.409980  0.155627 -0.818990  1.277350   V
992  0.301214 -1.111203  0.668258  0.671922   H
993  1.821117  0.416445  0.173874  0.505118   A
994  0.068804  1.322759  0.802346  0.223618   0
995  2.311896 -0.417070 -1.409599 -0.515821   H
996 -0.479893 -0.650419  0.745152 -0.646038   U
997  0.523331  0.787112  0.486066  1.093156   A
998 -0.362559  0.598894 -1.843201  0.887292   Y
999 -0.096376 -1.012999 -0.657431 -0.573315   F

[1000 rows x 5 columns]
          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   H
1   -0.358893  1.404453  0.704965 -0.200638   Y
2   -0.501840  0.659254 -0.421691 -0.057688   0
3    0.204886  1.074134  1.388361 -0.982404   Z
4    0.354628 -0.133116  0.283763 -0.837063   U
5    1.817480  0.742273  0.419395 -2.251035   B
6   -0.776764  0.935518 -0.332872 -1.875641   D
7   -0.913135  1.530624 -0.572657  0.477252   J
8    0.358480 -0.497572 -0.367016  0.507702   7
9   -1.740877 -1.160417 -1.637830  2.172201   2
10   0.240564 -0.328249  1.252155  1.072796   R
11   0.764018  1.165476 -0.639544  1.495258   X
12   0.571035 -0.310537  0.582437 -0.298765   A
13   2.317658  0.430710 -1.334216  0.199679   0
14   1.547771 -1.119753 -2.277634  0.329586   U
15  -1.310608  0.401719 -1.000987  1.156708   B
16  -0.088496  0.634712  0.153324  0.415335   E
17  -0.018663 -0.247487 -1.446522  0.750938   W
18  -0.070127 -1.579097  0.120892  0.671432   T
19  -0.194678 -0.492039  2.359605  0.319810   U
20  -0.248618  0.868707 -0.492226 -0.717959   P
21  -1.091549 -0.867110 -0.647760 -0.832562   P
22   0.641404 -0.138822 -0.621963 -0.284839   D
23   1.216408  0.992687  0.165162 -0.069619   T
24  -0.564474  0.792832  0.747053  0.571675   1
25   1.759879 -0.515666 -0.230481  1.362317   N
26   0.126266  0.309281  0.382820 -0.239199   A
27   1.334360 -0.100152 -0.840731 -0.643967   J
28  -0.737620  0.278087 -0.053235 -0.950972   A
29  -1.148486 -0.986292 -0.144963  0.124362   E
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   H
971  0.308636 -0.112857  0.762842 -1.072977   O
972 -1.627051 -0.978151  0.154745 -1.229037   A
973  0.314847  0.097989  0.199608  0.955193   X
974  1.666907  0.992005  0.496128 -0.686391   Y
975  0.010603  0.708540 -1.258711  0.226541   F
976  0.118693 -0.714455 -0.501342 -0.254764   E
977  0.302616 -2.011527 -0.628085  0.768827   D
978 -0.098572  1.769086 -0.215027 -0.053076   S
979 -0.019058  1.964994  0.738538 -0.883776   U
980 -0.595349  0.001781 -1.423355 -1.458477   5
981  1.392170 -1.396560 -1.425306 -0.847535   B
982 -0.896029 -0.152287  1.924483  0.365184   T
983 -2.274642 -0.901874  1.500352  0.996541   C
984 -0.301898  1.019906  1.102160  2.624526   H
985 -2.548389 -0.585374  1.496201 -0.718815   7
986 -0.064588  0.759292 -1.568415 -0.420933   J
987 -0.143365 -1.111760 -1.815581  0.435274   N
988 -0.070412 -1.055921  0.338017 -0.440763   U
989  0.649148  0.994273 -1.384227  0.485120   2
990 -0.370769  0.404356 -1.051628 -1.050899   5
991 -0.409980  0.155627 -0.818990  1.277350   I
992  0.301214 -1.111203  0.668258  0.671922   6
993  1.821117  0.416445  0.173874  0.505118   S
994  0.068804  1.322759  0.802346  0.223618   V
995  2.311896 -0.417070 -1.409599 -0.515821   W
996 -0.479893 -0.650419  0.745152 -0.646038   E
997  0.523331  0.787112  0.486066  1.093156   Q
998 -0.362559  0.598894 -1.843201  0.887292   A
999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   H
1   -0.358893  1.404453  0.704965 -0.200638   Z
2   -0.501840  0.659254 -0.421691 -0.057688   2
3    0.204886  1.074134  1.388361 -0.982404   B
4    0.354628 -0.133116  0.283763 -0.837063   1
5    1.817480  0.742273  0.419395 -2.251035   R
6   -0.776764  0.935518 -0.332872 -1.875641   R
7   -0.913135  1.530624 -0.572657  0.477252   L
8    0.358480 -0.497572 -0.367016  0.507702   8
9   -1.740877 -1.160417 -1.637830  2.172201   M
10   0.240564 -0.328249  1.252155  1.072796   K
11   0.764018  1.165476 -0.639544  1.495258   8
12   0.571035 -0.310537  0.582437 -0.298765   U
13   2.317658  0.430710 -1.334216  0.199679   5
14   1.547771 -1.119753 -2.277634  0.329586   M
15  -1.310608  0.401719 -1.000987  1.156708   0
16  -0.088496  0.634712  0.153324  0.415335   B
17  -0.018663 -0.247487 -1.446522  0.750938   K
18  -0.070127 -1.579097  0.120892  0.671432   Y
19  -0.194678 -0.492039  2.359605  0.319810   N
20  -0.248618  0.868707 -0.492226 -0.717959   K
21  -1.091549 -0.867110 -0.647760 -0.832562   E
22   0.641404 -0.138822 -0.621963 -0.284839   A
23   1.216408  0.992687  0.165162 -0.069619   A
24  -0.564474  0.792832  0.747053  0.571675   8
25   1.759879 -0.515666 -0.230481  1.362317   I
26   0.126266  0.309281  0.382820 -0.239199   I
27   1.334360 -0.100152 -0.840731 -0.643967   L
28  -0.737620  0.278087 -0.053235 -0.950972   U
29  -1.148486 -0.986292 -0.144963  0.124362   L
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   K
971  0.308636 -0.112857  0.762842 -1.072977   N
972 -1.627051 -0.978151  0.154745 -1.229037   F
973  0.314847  0.097989  0.199608  0.955193   H
974  1.666907  0.992005  0.496128 -0.686391   G
975  0.010603  0.708540 -1.258711  0.226541   3
976  0.118693 -0.714455 -0.501342 -0.254764   5
977  0.302616 -2.011527 -0.628085  0.768827   K
978 -0.098572  1.769086 -0.215027 -0.053076   Z
979 -0.019058  1.964994  0.738538 -0.883776   4
980 -0.595349  0.001781 -1.423355 -1.458477   L
981  1.392170 -1.396560 -1.425306 -0.847535   C
982 -0.896029 -0.152287  1.924483  0.365184   M
983 -2.274642 -0.901874  1.500352  0.996541   P
984 -0.301898  1.019906  1.102160  2.624526   K
985 -2.548389 -0.585374  1.496201 -0.718815   7
986 -0.064588  0.759292 -1.568415 -0.420933   I
987 -0.143365 -1.111760 -1.815581  0.435274   U
988 -0.070412 -1.055921  0.338017 -0.440763   K
989  0.649148  0.994273 -1.384227  0.485120   O
990 -0.370769  0.404356 -1.051628 -1.050899   4
991 -0.409980  0.155627 -0.818990  1.277350   O
992  0.301214 -1.111203  0.668258  0.671922   0
993  1.821117  0.416445  0.173874  0.505118   S
994  0.068804  1.322759  0.802346  0.223618   H
995  2.311896 -0.417070 -1.409599 -0.515821   X
996 -0.479893 -0.650419  0.745152 -0.646038   M
997  0.523331  0.787112  0.486066  1.093156   5
998 -0.362559  0.598894 -1.843201  0.887292   T
999 -0.096376 -1.012999 -0.657431 -0.573315   U

[1000 rows x 5 columns]
          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   1
1   -0.358893  1.404453  0.704965 -0.200638   Z
2   -0.501840  0.659254 -0.421691 -0.057688   3
3    0.204886  1.074134  1.388361 -0.982404   H
4    0.354628 -0.133116  0.283763 -0.837063   B
5    1.817480  0.742273  0.419395 -2.251035   L
6   -0.776764  0.935518 -0.332872 -1.875641   O
7   -0.913135  1.530624 -0.572657  0.477252   8
8    0.358480 -0.497572 -0.367016  0.507702   W
9   -1.740877 -1.160417 -1.637830  2.172201   G
10   0.240564 -0.328249  1.252155  1.072796   Y
11   0.764018  1.165476 -0.639544  1.495258   S
12   0.571035 -0.310537  0.582437 -0.298765   E
13   2.317658  0.430710 -1.334216  0.199679   R
14   1.547771 -1.119753 -2.277634  0.329586   B
15  -1.310608  0.401719 -1.000987  1.156708   L
16  -0.088496  0.634712  0.153324  0.415335   Z
17  -0.018663 -0.247487 -1.446522  0.750938   L
18  -0.070127 -1.579097  0.120892  0.671432   F
19  -0.194678 -0.492039  2.359605  0.319810   8
20  -0.248618  0.868707 -0.492226 -0.717959   4
21  -1.091549 -0.867110 -0.647760 -0.832562   K
22   0.641404 -0.138822 -0.621963 -0.284839   Y
23   1.216408  0.992687  0.165162 -0.069619   R
24  -0.564474  0.792832  0.747053  0.571675   T
25   1.759879 -0.515666 -0.230481  1.362317   S
26   0.126266  0.309281  0.382820 -0.239199   O
27   1.334360 -0.100152 -0.840731 -0.643967   V
28  -0.737620  0.278087 -0.053235 -0.950972   P
29  -1.148486 -0.986292 -0.144963  0.124362   B
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   Y
971  0.308636 -0.112857  0.762842 -1.072977   E
972 -1.627051 -0.978151  0.154745 -1.229037   Q
973  0.314847  0.097989  0.199608  0.955193   P
974  1.666907  0.992005  0.496128 -0.686391   X
975  0.010603  0.708540 -1.258711  0.226541   M
976  0.118693 -0.714455 -0.501342 -0.254764   W
977  0.302616 -2.011527 -0.628085  0.768827   O
978 -0.098572  1.769086 -0.215027 -0.053076   T
979 -0.019058  1.964994  0.738538 -0.883776   L
980 -0.595349  0.001781 -1.423355 -1.458477   A
981  1.392170 -1.396560 -1.425306 -0.847535   O
982 -0.896029 -0.152287  1.924483  0.365184   P
983 -2.274642 -0.901874  1.500352  0.996541   E
984 -0.301898  1.019906  1.102160  2.624526   N
985 -2.548389 -0.585374  1.496201 -0.718815   O
986 -0.064588  0.759292 -1.568415 -0.420933   G
987 -0.143365 -1.111760 -1.815581  0.435274   I
988 -0.070412 -1.055921  0.338017 -0.440763   4
989  0.649148  0.994273 -1.384227  0.485120   I
990 -0.370769  0.404356 -1.051628 -1.050899   L
991 -0.409980  0.155627 -0.818990  1.277350   H
992  0.301214 -1.111203  0.668258  0.671922   X
993  1.821117  0.416445  0.173874  0.505118   G
994  0.068804  1.322759  0.802346  0.223618   R
995  2.311896 -0.417070 -1.409599 -0.515821   1
996 -0.479893 -0.650419  0.745152 -0.646038   Y
997  0.523331  0.787112  0.486066  1.093156   F
998 -0.362559  0.598894 -1.843201  0.887292   0
999 -0.096376 -1.012999 -0.657431 -0.573315   3

[1000 rows x 5 columns]
          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   I
1   -0.358893  1.404453  0.704965 -0.200638   X
2   -0.501840  0.659254 -0.421691 -0.057688   A
3    0.204886  1.074134  1.388361 -0.982404   C
4    0.354628 -0.133116  0.283763 -0.837063   S
5    1.817480  0.742273  0.419395 -2.251035   T
6   -0.776764  0.935518 -0.332872 -1.875641   M
7   -0.913135  1.530624 -0.572657  0.477252   4
8    0.358480 -0.497572 -0.367016  0.507702   N
9   -1.740877 -1.160417 -1.637830  2.172201   H
10   0.240564 -0.328249  1.252155  1.072796   V
11   0.764018  1.165476 -0.639544  1.495258   I
12   0.571035 -0.310537  0.582437 -0.298765   7
13   2.317658  0.430710 -1.334216  0.199679   X
14   1.547771 -1.119753 -2.277634  0.329586   K
15  -1.310608  0.401719 -1.000987  1.156708   8
16  -0.088496  0.634712  0.153324  0.415335   Z
17  -0.018663 -0.247487 -1.446522  0.750938   F
18  -0.070127 -1.579097  0.120892  0.671432   N
19  -0.194678 -0.492039  2.359605  0.319810   V
20  -0.248618  0.868707 -0.492226 -0.717959   J
21  -1.091549 -0.867110 -0.647760 -0.832562   I
22   0.641404 -0.138822 -0.621963 -0.284839   U
23   1.216408  0.992687  0.165162 -0.069619   R
24  -0.564474  0.792832  0.747053  0.571675   D
25   1.759879 -0.515666 -0.230481  1.362317   F
26   0.126266  0.309281  0.382820 -0.239199   F
27   1.334360 -0.100152 -0.840731 -0.643967   2
28  -0.737620  0.278087 -0.053235 -0.950972   B
29  -1.148486 -0.986292 -0.144963  0.124362   Z
..        ...       ...       ...       ...  ..
970  0.633495 -0.186524  0.927627  0.143164   G
971  0.308636 -0.112857  0.762842 -1.072977   M
972 -1.627051 -0.978151  0.154745 -1.229037   Y
973  0.314847  0.097989  0.199608  0.955193   E
974  1.666907  0.992005  0.496128 -0.686391   U
975  0.010603  0.708540 -1.258711  0.226541   L
976  0.118693 -0.714455 -0.501342 -0.254764   N
977  0.302616 -2.011527 -0.628085  0.768827   J
978 -0.098572  1.769086 -0.215027 -0.053076   P

In [59]:
#chunker의 DataFrame에서 key칼람의 값들을 count하여 tot 시리즈에 저장하도록, 비어있는 경우 0으로 값을 채운다.
tot = Series([])
for piece in chunker:
    tot = tot.add(piece['key'].value_counts(), fill_value=0)
    
tot = tot.order(ascending=False)

In [66]:
tot[:10]   #처음부터 10개까지만

E    368
X    364
L    346
O    343
Q    340
M    338
J    337
F    335
K    334
H    330
dtype: float64

### 2) data를 텍스트형식으로 기록하기

In [67]:
data = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex5.csv')
data

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [68]:
data.to_csv('ch06/out.csv')

In [70]:
!cat ch06/out.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.

- 다른 문자로도 구분이 가능

In [71]:
import sys

In [73]:
data.to_csv(sys.stdout, sep='|')   
#콘솔에서 확인할 수 있도록 실제 파일로 기록하지 않고 sys.stdout에 결과를 기록하도록 했다.

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

In [74]:
data.to_csv(sys.stdout, na_rep='NULL')   
#누락된 값은 비어있는 문자열로 나타내도록 한다.

,something,a,b,c,d,message
0,one,1,2,3.0,4,NULL
1,two,5,6,NULL,8,world
2,three,9,10,11.0,12,foo

In [76]:
data.to_csv(sys.stdout, index=False, header=False)    
#칼럼과 로우가 안보이는것을 볼 수 있다.

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

In [78]:
data.to_csv(sys.stdout, index=False, columns=['a', 'b', 'c'])   
#칼럼의 일부분만 기록할 수도 있고, 순서를 직접 지정할 수도 있다.

a,b,c
1,2,3.0
5,6,
9,10,11.0

- series에도 to_csv 메소드가 있다.

In [79]:
dates = pd.date_range('1/1/2000', periods=7)   #date_range메서드를 이용하여 시간을 기록하는 tseries를 생성
ts = Series(np.arange(7), index=dates)         #인덱스를 날짜로 하고 0~6까지의 수가 들어간 ts시리즈를 생성   
ts.to_csv('ch06/tseries.csv')

In [81]:
Series.from_csv('ch06/tseries.csv', parse_dates=True)   #parse_dates?
# parse_dates=False면 YYYY-MM-DD 형식을 안지키고 그냥 출력된다.

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

- 헤더를 없애고 첫번째 칼럼을 색인으로 하면 read_csv메서드로 series 객체를 얻을수있다.
- from_csv 메서드가 더 편리하고 간단하게 문제해결 해준다.

----------------

In [85]:
a = Series.from_csv('ch06/tseries.csv', parse_dates=False)
a.index[0]

'2000-01-01'

### 3) 수동으로 구분 형식 처리하기

In [87]:
list(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex7.csv'))

['"a","b","c"\n', '"1","2","3"\n', '"1","2","3","4"\n']

In [93]:
import csv
f = urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex7.csv')

reader = csv.reader(f)
type(f)

instance

In [89]:
reader

In [90]:
type(reader)

_csv.reader

In [91]:
for line in reader:
    print line        
#reader의 각 라인별로 읽어오기

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

- 굳이 reader를 쓰는 이유는 file

In [92]:
lines = list(csv.reader(urllib.urlopen('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex7.csv')))

In [96]:
header, values = lines[0], lines[1:]   
#해당 파일을 reader 메서드로 읽어오고, 
#lines 리스트에 각 줄을 저장, 첫번째는 header 나머지 줄은 값

In [110]:
a = [1,2,3]
b = [4,5,6,7]
zip(a,b)

[(1, 4), (2, 5), (3, 6)]

In [111]:
a = [1,2,3]
b = [4,5,6,7]
c = [8,9]
zip(a,b,c)

[(1, 4, 8), (2, 5, 9)]

In [108]:
print values
print zip(*values)

[['1', '2', '3'], ['1', '2', '3', '4']]
[('1', '1'), ('2', '2'), ('3', '3')]

In [97]:
data_dict = {h: v for h, v in zip(header, zip(*values))}
data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

--------
- CSV파일은 다양한 형태로 존재할 수 있다.
- 다양한 구분자, 개행문자 같은 것을 csc.dialect로 상속받아 새로운 클래스 정의해서 사용 가능
- 클래스 정의 안하고 csv.reader에 키워드 인자로 각 csv파일의 특징을 지정해서 전달해도 된다.

In [117]:
class my_dialect(csv.Dialect):  #csv.Dialect를 상속받음
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL
    #attribute overloading

In [116]:
csv.Dialect?

In [99]:
with open('ch06/mydata.csv', 'w') as f:
    writer = csv.writer(f, dialect=my_dialect)
    writer.writerow(('one', 'two', 'three'))
    writer.writerow(('1', '2', '3'))
    writer.writerow(('4', '5', '6'))
    writer.writerow(('7', '8', '9'))

In [113]:
!cat ch06/mydata.csv

'cat'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.


one;two;three

1;2;3

4;5;6

7;8;9

### 4) JSON 데이터

In [101]:
obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [102]:
import json

In [103]:
result = json.loads(obj)   #json.loads를 사용하여 obj의 json형태의 파일을 파이썬 형태로 변환하는 함수
result

{u'name': u'Wes',
 u'pet': None,
 u'places_lived': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

In [120]:
type(result)

dict

- json과 dict 문법이 거의 유사하다.

In [131]:
asjson = json.dumps(result)  #json으로
asjson

'{"pet": null, "siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "name": "Wes", "places_lived": ["United States", "Spain", "Germany"]}'

In [121]:
type(asjson)

str

In [132]:
#파이썬 형태로 변환한 result에서 siblings 부분의 내용을 DataFrame으로 생성하고
#필드를 선택할 수 있다.
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
siblings

    name  age
0  Scott   25
1  Katie   33

In [133]:
type(siblings)

pandas.core.frame.DataFrame

In [134]:
result['siblings'][0]['age']

25

-------------

### 5) XML과 HTML : 웹 내용 긁어오기

- 먼저 html을 위한 lxml.html의 사용법을 살펴보고 그 다음 lxml.objectity를 이용해서 xml을 처리하는 방법을 알아본다.
- canopy - package management - lxml 검색 - lxml 3.4.4-1 설치 (free)

In [135]:
from lxml.html import parse
from urllib2 import urlopen

In [146]:
parsed = parse(urlopen('http://finance.yahoo.com/q/op?s=AAPL+Options'))   
#APPLE Inc.의 주식 정보를  parsing하여 가져온다.

doc = parsed.getroot()
print parsed  #트리형태
print doc     #html
print doc.getchildren()

<lxml.etree._ElementTree object at 0x000000000BE87F48>
<Element html at 0xbb6df98>
[<Element head at 0xbb6da98>, <Element body at 0xbb7f318>]

- html문서에서 외부 연결 url을 모두 찾아보자
- findall 메서드에 XPath(문서 질의 언어)를 넘겨 해당 엘리먼트를 가져온다.

In [138]:
links = doc.findall('.//a')
links[15:20]

[<Element a at 0xbb66598>,
 <Element a at 0xbb665e8>,
 <Element a at 0xbb66638>,
 <Element a at 0xbb66688>,
 <Element a at 0xbb666d8>]

In [153]:
links = doc.findall('./head/a')   #head 안에 있는 a를 찾아라
links[:]

[]

In [140]:
lnk = links[28]
lnk

In [141]:
lnk.get('href')

'https://autos.yahoo.com/'

In [142]:
lnk.text_content()

'Autos'

In [144]:
urls = [lnk.get('href') for lnk in doc.findall('.//a')]    
#외부 URL이 담겨져 있는 a 태그에서의 href에 해당하는 url 값들을 urls 저장

urls[-10:]

['/q/op?s=AAPL&strike=142.00',
 '/q?s=AAPL150807P00142000',
 '/q/op?s=AAPL&strike=143.00',
 '/q?s=AAPL150807P00143000',
 '/q/op?s=AAPL&strike=145.00',
 '/q?s=AAPL150807P00145000',
 '/q/op?s=AAPL&strike=150.00',
 '/q?s=AAPL150807P00150000',
 '/q/op?s=AAPL&strike=155.00',
 '/q?s=AAPL150807P00155000']

- 이제 찾고자 하는 table은 하나씩 확인할 수 밖에 없다.
- table마다 id속성을 줘서 이 작업을 쉽게 할 수 있는데, 콜 데이터와 풋데이터가 각각 table에 들어가있는것을 찾아낸다.

In [145]:
tables = doc.findall('.//table')   #table 태그가 있는 값들을 tables에 저장,
calls = tables[1]
puts = tables[2]

In [147]:
rows = calls.findall('.//tr')   #calls에서 tr태그가 가지고 있는 값들을 저장

In [157]:
def _unpack(row, kind='td'):
    elts = row.findall('.//%s' % kind)
    return [val.text_content() for val in elts]

In [158]:
_unpack(rows[0], kind='th')

[u'\n                \n                     Strike\n                    \n                        \ue004\n                        \ue002\n                    \n                \n                \u2235 Filter\n            ',
 'Contract Name',
 u'\n                \n                    Last\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Bid\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Ask\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Change\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    %Change\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Volume\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Open Interest\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ',
 u'\n                \n                    Implied Volatility\n                    \n                        \ue004\n                        \ue002\n                    \n                \n            ']

In [159]:
_unpack(rows[1], kind='th')

[]

- 지금까지 살펴본 데이터를 모두 합쳐 dataFrame으롤 변환

In [164]:
from pandas.io.parsers import TextParser   #숫자데이터를 문자형식으로 변환

def parse_options_data(table):
    rows = table.findall('.//tr')
    header = _unpack(rows[0], kind='th')
    data = [_unpack(r) for r in rows[1:]]
    return TextParser(data, names=header).get_chunk()

In [168]:
print calls
for a in calls:
    print a

<Element table at 0xbb6dbd8>
<Element caption at 0xc3fbe08>
<Element thead at 0xc3fbea8>
<Element tbody at 0xc3fbef8>

In [167]:
puts

In [161]:
call_data = parse_options_data(calls)

In [162]:
put_data = parse_options_data(puts)

In [163]:
call_data[:10]

,Strike   ∵ Filter,Contract Name,Last  ,Bid  ,Ask  ,Change  ,%Change  ,Volume  ,Open Interest  ,Implied Volatility  
0,\n \n ...,None,NaN,NaN,NaN,NaN,None,NaN,NaN,None
1,\n 80.00\n,\n AAPL150807C00080000\n,35.75,0,0,0,\n \n 0.00%\n ...,12,0,\n 0.00%\n
2,\n 90.00\n,\n AAPL150807C00090000\n,25.30,0,0,0,\n \n 0.00%\n ...,82,0,\n 0.00%\n
3,\n 95.00\n,\n AAPL150807C00095000\n,20.70,0,0,0,\n \n 0.00%\n ...,319,0,\n 0.00%\n
4,\n 100.00\n,\n AAPL150807C00100000\n,15.05,0,0,0,\n \n 0.00%\n ...,54,0,\n 0.00%\n
5,\n 105.00\n,\n AAPL150807C00105000\n,10.20,0,0,0,\n \n 0.00%\n ...,115,0,\n 0.00%\n
6,\n 107.00\n,\n AAPL150807C00107000\n,8.25,0,0,0,\n \n 0.00%\n ...,116,0,\n 0.00%\n
7,\n 108.00\n,\n AAPL150807C00108000\n,6.75,0,0,0,\n \n 0.00%\n ...,38,0,\n 0.00%\n
8,\n 109.00\n,\n AAPL150807C00109000\n,6.10,0,0,0,\n \n 0.00%\n ...,95,0,\n 0.00%\n
9,\n 110.00\n,\n AAPL150807C00110000\n,5.32,0,0,0,\n \n 0.00%\n ...,693,0,\n 0.00%\n

--------------------


## <여기부터 안됨>

### lxml.objectify 이용

In [173]:
%pwd

u'C:\\Users\\S525'

In [174]:
%cd MTA_Performance_Datall
!head -21 Performance_MNRR.xml   #해당 폴더로 이동후, head에 관한 21줄을 출력

[Error 2] : u'MTA_Performance_Datall'
C:\Users\S525

UnicodeEncodeError: 'ascii' codec can't encode characters in position 33-34: ordinal not in range(128)

- 뉴욕 MTA는 버스와 전철운영에 관한 여러가지 데이터를 공개
- 해당 데이터를 받아 html.objectify를 이용

In [169]:
#해당 데이터를 lxml.objectify를 이용하여 파싱
from lxml import objectify

path = 'Performance_MNRR.xml'
parsed = objectify.parse(open(path))
root = parsed.getroot()   #현재 객체의 root를 얻어 root에 저장

IOError: [Errno 2] No such file or directory: 'Performance_MNRR.xml'

In [172]:
perf = DataFrame(data)
perf

  something  a   b   c   d message
0       one  1   2   3   4     NaN
1       two  5   6 NaN   8   world
2     three  9  10  11  12     foo

In [177]:
root

NameError: name 'root' is not defined

In [178]:
root.get('href')

NameError: name 'root' is not defined

In [179]:
root.text

NameError: name 'root' is not defined

In [180]:
from StringIO import StringIO
tag = '<a href="http://www.google.com">Google</a>'

root = objectify.parse(StringIO(tag)).getroot()   
#root권한으로 해당 태그를 root에 추가

In [181]:
root

In [182]:
root.get('href')

'http://www.google.com'

In [183]:
root.text

'Google'

## 2. 이진 데이터

In [184]:
frame = pd.read_csv('https://raw.githubusercontent.com/pydata/pydata-book/master/ch06/ex1.csv')
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [185]:
%pwd

u'C:\\Users\\S525'

In [210]:
%cd  C:\Users\S525\ch06
frame.to_pickle('frame_pickle.csv')

C:\Users\S525\ch06

In [215]:
a = csv.reader('frame_pickle.csv')

In [216]:
print a
print type(a)

<_csv.reader object at 0x000000000C7773A8>
<type '_csv.reader'>

In [187]:
#pandas는 PyTables를 이용한 HDFStore라는 가벼운 사전 클래스를 통해 pandas 객체를 저장한다.
store = pd.HDFStore('mydata.h5')
store['obj1'] = frame
store['obj1_col'] = frame['a']
store

ImportError: HDFStore requires PyTables, "No module named tables" problem importing

In [188]:
store['obj1']

UsageError: Unknown variable '['obj1']'

In [189]:
xls_file = pd.ExcelFile('ch06/data.xlsx')
xls_file

ImportError: No module named xlrd

In [190]:
table = xls_file.parse('Sheet1')   #pandas를 통해 읽어온 파일을 DataFrame으로 읽어 올 수 있다.
table

NameError: name 'xls_file' is not defined

## 3. HTML, 웹 API와 함께 사용하기

- 파이썬으로 API를 사용하는 방법 중 가장 쉬운 방법이 requests 패키지 이용

In [191]:
import requests
url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'
resp = requests.get(url)
resp

- Response 객체의 text 속성은 get 질의에 대한 내용을 담고있다.
- 많은 API JSON 문자열을 반환하는데, 이 문자열은 파이썬 객체로 담아야한다.

In [192]:
data = json.loads(resp.text)
data

[{u'color': u'e10c02',
  u'name': u'Bug',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Bug'},
 {u'color': u'4E9A06',
  u'name': u'Enhancement',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Enhancement'},
 {u'color': u'FCE94F',
  u'name': u'Refactor',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Refactor'},
 {u'color': u'75507B',
  u'name': u'Build',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Build'},
 {u'color': u'3465A4',
  u'name': u'Docs',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Docs'},
 {u'color': u'729FCF',
  u'name': u'Groupby',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Groupby'},
 {u'color': u'06909A',
  u'name': u'Data IO',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Data%20IO'},
 {u'color': u'8AE234',
  u'name': u'Visualization',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Visualization'},
 {u'color': u'0b02e1',
  u'name': u'Indexing',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Indexing'},
 {u'color': u'd7e102',
  u'name': u'Missing-data',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Missing-data'},
 {u'color': u'a10c02',
  u'name': u'Performance',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Performance'},
 {u'color': u'02d7e1',
  u'name': u'Reshaping',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Reshaping'},
 {u'color': u'fbca04',
  u'name': u'Difficulty Novice',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Difficulty%20Novice'},
 {u'color': u'e102d8',
  u'name': u'Dtypes',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Dtypes'},
 {u'color': u'DDDDDD',
  u'name': u'Note To Selves',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Note%20To%20Selves'},
 {u'color': u'AD7FA8',
  u'name': u'API Design',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/API%20Design'},
 {u'color': u'ffa0ff',
  u'name': u'Error Reporting',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Error%20Reporting'},
 {u'color': u'006b75',
  u'name': u'Numeric',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Numeric'},
 {u'color': u'5319e7',
  u'name': u'CSV',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/CSV'},
 {u'color': u'5319e7',
  u'name': u'SQL',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/SQL'},
 {u'color': u'a2bca7',
  u'name': u'CI',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/CI'},
 {u'color': u'fbca04',
  u'name': u'Internals',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Internals'},
 {u'color': u'5319e7',
  u'name': u'Timedelta',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Timedelta'},
 {u'color': u'0052cc',
  u'name': u'Frequency',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Frequency'},
 {u'color': u'fbca04',
  u'name': u'Windows',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Windows'},
 {u'color': u'eb6420',
  u'name': u'Algos',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Algos'},
 {u'color': u'5319e7',
  u'name': u'Timezones',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Timezones'},
 {u'color': u'eb6420',
  u'name': u'Period',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Period'},
 {u'color': u'207de5',
  u'name': u'MultiIndex',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/MultiIndex'},
 {u'color': u'e11d21',
  u'name': u'Categorical',
  u'url': u'https://api.github.com/repos/pydata/pandas/labels/Categorical'}]

In [193]:
issue_labels = DataFrame(data)   #해당 데이터를 다음과 같이 DataFrame으로 생성
issue_labels

,color,name,url
0,e10c02,Bug,https://api.github.com/repos/pydata/pandas/lab...
1,4E9A06,Enhancement,https://api.github.com/repos/pydata/pandas/lab...
2,FCE94F,Refactor,https://api.github.com/repos/pydata/pandas/lab...
3,75507B,Build,https://api.github.com/repos/pydata/pandas/lab...
4,3465A4,Docs,https://api.github.com/repos/pydata/pandas/lab...
5,729FCF,Groupby,https://api.github.com/repos/pydata/pandas/lab...
6,06909A,Data IO,https://api.github.com/repos/pydata/pandas/lab...
7,8AE234,Visualization,https://api.github.com/repos/pydata/pandas/lab...
8,0b02e1,Indexing,https://api.github.com/repos/pydata/pandas/lab...
9,d7e102,Missing-data,https://api.github.com/repos/pydata/pandas/lab...
10,a10c02,Performance,https://api.github.com/repos/pydata/pandas/lab...
11,02d7e1,Reshaping,https://api.github.com/repos/pydata/pandas/lab...
12,fbca04,Difficulty Novice,https://api.github.com/repos/pydata/pandas/lab...
13,e102d8,Dtypes,https://api.github.com/repos/pydata/pandas/lab...
14,DDDDDD,Note To Selves,https://api.github.com/repos/pydata/pandas/lab...
15,AD7FA8,API Design,https://api.github.com/repos/pydata/pandas/lab...
16,ffa0ff,Error Reporting,https://api.github.com/repos/pydata/pandas/lab...
17,006b75,Numeric,https://api.github.com/repos/pydata/pandas/lab...
18,5319e7,CSV,https://api.github.com/repos/pydata/pandas/lab...
19,5319e7,SQL,https://api.github.com/repos/pydata/pandas/lab...
20,a2bca7,CI,https://api.github.com/repos/pydata/pandas/lab...
21,fbca04,Internals,https://api.github.com/repos/pydata/pandas/lab...
22,5319e7,Timedelta,https://api.github.com/repos/pydata/pandas/lab...
23,0052cc,Frequency,https://api.github.com/repos/pydata/pandas/lab...
24,fbca04,Windows,https://api.github.com/repos/pydata/pandas/lab...
25,eb6420,Algos,https://api.github.com/repos/pydata/pandas/lab...
26,5319e7,Timezones,https://api.github.com/repos/pydata/pandas/lab...
27,eb6420,Period,https://api.github.com/repos/pydata/pandas/lab...
28,207de5,MultiIndex,https://api.github.com/repos/pydata/pandas/lab...
29,e11d21,Categorical,https://api.github.com/repos/pydata/pandas/lab...

In [217]:
lala = DataFrame(issue_labels.ix[7])   #인덱스 8번째의 정보
lala

                                                       7
color                                             8AE234
name                                       Visualization
url    https://api.github.com/repos/pydata/pandas/lab...

## 4. 데이터베이스와 함께 사용하기

- SQL에서 데이터를 읽어..

In [195]:
import sqlite3   #sqlite3데이터 베이스에 다음의 test라는 테이블을 생성

query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

con = sqlite3.connect(':memory:')   #데이터베이스 연결 객체 생성
con.execute(query)
con.commit()

In [196]:
data = [('Atlanta', 'Georgia', 1.25, 6),       #해당 테이블에 넣을 자료를 리스트로 생성
        ('Tallahassee', 'Florida', 2.6, 3),
        ('Sacramento', 'California', 1.7, 5)]
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"   #해당 자료가 들어갈 insert할 구문

con.executemany(stmt, data)
con.commit()

In [197]:
cursor = con.execute('select * from test')   #해당 테이블의 자료를 볼 수 있도록 rows리스트에 저장하여 출력
rows = cursor.fetchall()
rows

[(u'Atlanta', u'Georgia', 1.25, 6),
 (u'Tallahassee', u'Florida', 2.6, 3),
 (u'Sacramento', u'California', 1.7, 5)]

In [198]:
cursor.description   #description 속성을 이용하여 칼럼의 이름을 지정

(('a', None, None, None, None, None, None),
 ('b', None, None, None, None, None, None),
 ('c', None, None, None, None, None, None),
 ('d', None, None, None, None, None, None))

In [200]:
DataFrame(rows, columns=zip(*cursor.description)[0])   
#rows와 각 해당 칼럼의 이름을 지정하여 DataFrame에 저장하여 출력

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

- 데이터프레임으로 불러들이는

In [202]:
import pandas.io.sql as sql
sql.read_sql('select * from test', con)   
#select쿼리문과 데이터베이스 연결 객체(con)만 넘기면 된다.

             a           b     c  d
0      Atlanta     Georgia  1.25  6
1  Tallahassee     Florida  2.60  3
2   Sacramento  California  1.70  5

### 1) MongoDB에 데이터 저장하고 불러오기

- MongoDB 서버를 로컬에 설치하고 공식 드라이버인 pymongo를 이용해서 기본 포트 번호로 연결
- mongoDB 설치해야한다.

In [203]:
import pymongo

ImportError: No module named pymongo

In [204]:
con = pymongo.Connection('localhost', port=27017)

NameError: name 'pymongo' is not defined